@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-image: url('..//imagens/pizza/backgroundpizza.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

#header{
    background-color: rgba(0, 0, 0, 0.647);
    padding: 15px 20px;
    text-align: center;
}

#h1-header{
    color: white;
    margin-bottom: 5px;
}

.h3-header{
    color: white;
    margin-bottom: 15px;
}

.link-cabecalho{
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 4px;
}
.link-cabecalho:hover{
    color: rgba(9, 6, 6, 0.466);
    transition: 0.3s;
}

#navegacao{
    display: flex;
    justify-content: end;
    gap: 12px;
}

.promocoes{
    margin: 20px auto;
    background-color: rgba(0, 0, 0, 0.647);
    text-align: center;
    width: 90%;
    padding: 20px;
    border-radius: 10px;
    color: white;
}

.h2-promocoes{
    font-size: 28px;
    margin-bottom: 10px;
}

.p-produto{
    text-align: center;
    font-size: 22px;
    color: white;
    padding-bottom: 10px;
}

.pizzas{
    background-color: rgba(0, 0, 0, 0.647);
    margin: 20px auto;
    width: 90%;
    max-width: 100%;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap: 20px;
}

.sub-grid{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8 px rgba(0,0,0,0.1);
}

.h2-sub-grid{
    font-size: 22px;
    margin-bottom: 10px;
}

.img-pizza{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 10px;
}

.p-preco{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.btn-acao{
    background-color: rgb(255, 59, 59);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
}

.btn-acao:hover{
    background-color: darkred;
    transition: 0.3s;
}

.Pizzas-doces{
    background-color: rgba(0, 0, 0, 0.647);
    margin: 20px auto;
    width: 90%;
    max-width: 100%;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
}

.bebidas{
    background-color: rgba(0, 0, 0, 0.647);
    margin: 20px auto;
    width: 90%;
    max-width: 100%;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
}

.img-bebida{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 10px;
}

footer {
    background-color: #0a0a0ad1;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-top: auto;
}

/* Estilo das colunas dentro do footer */
.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-column {
    flex: 1;
    margin: 10px;
    min-width: 150px;
}

/* Estilo para dispositivos móveis */
@media (max-width: 600px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }
}

